/* Réinitialisation globale des styles par défaut : -----------------------------------------------*/

* {
    margin: 0;
    /* Supprime les marges par défaut */
    padding: 0;
    /* Supprime les espacements internes par défaut */
    box-sizing: border-box;
    /* Inclut la bordure et le padding dans la largeur et la hauteur des éléments */
    text-decoration: none;
    /* Enlève les soulignements des liens */
    font-family: "EB Garamond", serif;

}

/* Liens visités : ---------------------------------------------------------------*/
a:visited {
    color: white;
    /* Définit la couleur des liens visités en blanc */
}

/* Header ************************************************************************************************/
/*-------------------------------------------------------------------------------------------------------*/

header {

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    display: flex;
    /* Utilisation de Flexbox pour disposer les éléments de l'en-tête en ligne */
    justify-content: space-between;
    /* Espace entre les éléments à gauche et à droite de l'en-tête */
    align-items: center;
    /* Alignement vertical des éléments au centre */
    flex-wrap: wrap;
    /* Permet aux éléments de se réorganiser si nécessaire en cas de taille d'écran plus petite */
    color: white;
    /* Définit la couleur du texte dans l'en-tête en blanc */

}

/* Bar de Navigation ------------------------------------------------------------------------------------*/

#nav {
    border-bottom: 2px solid rgba(184, 134, 11);
    /* Bordure bleue de 4px */
    display: flex;
    /* Utilisation de Flexbox pour la barre de navigation */
    position: fixed;
    /* Positionnement fixe en haut de la page */
    top: 0;
    /* Positionne la barre en haut de la page */
    left: 0;
    /* Positionne la barre à gauche de la page */
    right: 0;
    /* Positionne la barre à droite de la page */
    flex: 2;
    /* L'élément prend 2 parts d'espace par rapport aux autres éléments frères */
    padding-top: 1%;
    /* Espace de 1% en haut du conteneur */
    padding-bottom: 1%;
    /* Espace de 1% en bas du conteneur */
    background: black;
    /* Fond noir pour la barre de navigation */
    font-size: 25px;
    /* Taille de police définie à 25px */
    margin-left: 0;
    /* Aucune marge à gauche */
}

/* Réseaux sociaux --------------------------------------------------------------------------------------*/

#social {
    display: flex;
    /* Utilisation de Flexbox pour aligner les éléments sociaux */
    gap: 40px;
    /* Espace de 40px entre chaque élément */
    flex: 1;
    /* L'élément prend une part d'espace */
    justify-content: right;
    /* Aligne les éléments à droite de la barre */
    padding-right: 1%;
    /* Ajoute un padding à droite de 1% */
}

/* Liens des pages ----------------------------------------------------------------------------------------*/

#lien_site {
    display: flex;
    /* Utilisation de Flexbox pour aligner les liens du site */
    gap: 80px;
    /* Espace de 80px entre les éléments */
    flex: 1;
    /* L'élément prend une part d'espace */
    color: green;
    /* Définit la couleur des liens en vert */
    padding-left: 1%;
    /* Ajoute un padding à gauche de 1% */
}

/* Header Image - Accueil ---------------------------------------------------------------------------------*/

#header_image_acceuil {
    height: 100vh;
    /* Définit la hauteur de l'image d'en-tête à 100% de la hauteur de la fenêtre */
    width: 100%;
    /* L'image couvre toute la largeur */
    background-position: center;
    /* Positionne l'image au centre */
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments */
    justify-content: center;
    /* Centre les éléments horizontalement */
    align-items: center;
    /* Centre les éléments verticalement */
    text-align: center;
    /* Centre le texte */
    flex-direction: column;
    /* Organise les éléments en colonne */
    color: white;
    /* Définit la couleur du texte en blanc */
}

/* Header Image - Guide -----------------------------------------------------------------------------------*/

#header_image_guide {
    height: 100vh;
    /* Définit la hauteur de l'image d'en-tête à 100% de la hauteur de la fenêtre */
    /* Image d'arrière-plan */
    width: 100%;
    /* L'image couvre toute la largeur */
    background-position: center;
    /* Positionne l'image au centre */
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments */
    justify-content: center;
    /* Centre les éléments horizontalement */
    align-items: center;
    /* Centre les éléments verticalement */
    text-align: center;
    /* Centre le texte */
    flex-direction: column;
    /* Organise les éléments en colonne */
    color: white;
    /* Définit la couleur du texte en blanc */

}


/* Sections pour les titres de page spécifiques : -------------------------------------------------------*/

#body_header_h1 {
    /*background: red;*/
    /* Commenté, option pour fond rouge */
    display: flex;
    /* Utilisation de Flexbox */
    font-size: 100px;
    /* Taille de la police définie à 80px */
    flex-direction: column;
    /* Organise les éléments en colonne */
    font-family: "Permanent Marker", cursive;

}

#sous_titre {
    font-size: 20px;
    /* Taille de la police définie à 80px */
}

/* Main ****************************************************************************************************/

#section_base_acc {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments dans la section */
    flex-direction: row;
    justify-content: space-around;
    /* Organise les éléments en ligne */
    width: 90%;
    /* Largeur de la section à 100% */
    height: 80%;
    /* Hauteur de la section à 100% */
    background-color: rgba(255, 255, 255, 0.103);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
}


#section_base {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments dans la section */
    flex-direction: row;
    justify-content: space-around;
    /* Organise les éléments en ligne */
    width: 90%;
    /* Largeur de la section à 100% */
    height: 70%;
    /* Hauteur de la section à 100% */
    background-color: rgba(0, 0, 0, 0.658);
    margin-left: 5%;
    margin-right: 5%;
}

#section1_a_propos {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments dans la section */
    flex-direction: row;
    justify-content: space-around;
    /* Organise les éléments en ligne */
    width: 90%;
    /* Largeur de la section à 100% */
    height: 80%;
    /* Hauteur de la section à 100% */
    background-color: rgba(255, 255, 255, 0.103);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 2%;

}

#section_video {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments dans la section */
    width: 100%;
    /* Largeur de la section à 100% */
    height: 100%;
    /* Hauteur de la section à 100% */
}

#main_section_1 {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments */
    flex-direction: column;
    /* Organise les éléments en colonne */
    width: 60%;
    /* La section prend 60% de la largeur */
    height: 100%;
    /* La section prend 80% de la hauteur */
    /* Marge de 5% en haut */
    padding-top: 2%;
    /* Padding de 5% en haut */
    font-size: x-large;
    /* Taille de police large */
    text-align: left;
    /* Alignement du texte à gauche */
    color: rgb(255, 255, 255);
    /* Texte en blanc */
}

#main_section_2 {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments */
    flex-direction: column;
    /* Organise les éléments en colonne */
    width: 60%;
    /* La section prend 60% de la largeur */
    height: 100%;
    /* La section prend 80% de la hauteur */
    /* Marge de 5% en haut */
    padding-top: 2%;
    /* Padding de 5% en haut */
    font-size: x-large;
    /* Taille de police large */
    text-align: left;
    /* Alignement du texte à gauche */
    color: rgb(255, 255, 255);
    /* Texte en blanc */

}

#main_section_3 {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments */
    flex-direction: column;
    padding: 20px;
    /* Organise les éléments en ligne */
    /* Organise les éléments en colonne */
    width: 90%;
    /* La section prend 60% de la largeur */
    /* Marge de 5% en haut */
    /* Padding de 5% en haut */
    background-color: rgba(0, 0, 0, 0.658);
    /* Fond sombre pour la section */
    margin-left: 5%;
    margin-right: 5%;

}


#main_p {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    /* Justifie le texte dans les paragraphes */
    line-height: 200%;
    /* Augmente la hauteur de ligne pour améliorer la lisibilité */
}

/* Div avec images : ------------------------------------------------------------------------------------*/



#main_div0_av_img2 {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des images */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image d'arrière-plan */
    height: 80%;
    /* Hauteur de l'image fixée à 80% */
    width: 90%;
    /* Largeur de l'image fixée à 90% */
    margin-left: 20%;
    /* Marge de 5% à droite */
    margin-top: 20%;
    /* Marge de 20% en haut */
}

#main_div2 {
    display: flex;
    /* Utilisation de Flexbox pour organiser les éléments */
    flex-direction: column;
    /* Disposition des éléments en colonne */
    border-radius: 10px;
    /* Arrondit les coins de la div */
    padding-left: 5px;
    /* Padding de 5px à gauche */
    padding-right: 5px;
    /* Padding de 5px à droite */
    font-size: x-large;
    /* Taille de la police large */
    text-align: center;
    /* Centre le texte */
    width: 5vh;
    /* Largeur de 65% de la hauteur de la fenêtre */
    height: 22vw;
    /* Hauteur de 30% de la largeur de la fenêtre */
    color: rgb(255, 255, 255);
    /* Texte en blanc */
    /*box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);*/
    /* Ombre subtile autour de la div */
    /*background-color: rgba(0, 0, 0, 0.658);*/
}

#main_div_av_img {
    display: flex;
    /* Utilisation de Flexbox pour la disposition des éléments */
    height: 15vw;
    /* Hauteur de 20% de la largeur de la fenêtre */
    width: 50vh;
    /* Largeur de 60% de la hauteur de la fenêtre */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image d'arrière-plan */
    border-radius: 10px;
    /* Arrondit les coins de la div */
    align-items: center;
    /* Aligne les éléments au centre verticalement */
    color: rgba(0, 0, 0, 0.63);
    /* Définit la couleur du texte en azure */
    margin-bottom: 10px;
    /* Marge de 10px en bas */
}

#title_section {
    background-color: black;
    /* Fond noir pour la section du titre */
    color: white;
    /* Texte en blanc */
    width: 90%;
    /* Hauteur de la section du titre à 10% de la fenêtre */
    padding-left: 20px;
    /* Padding de 20px à gauche */
    border: 2px solid rgba(184, 134, 11);
    /* Bordure dorée avec style solid */
    background-color: rgba(0, 0, 0, 0.658);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;

}

#title_combat {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;

}


/* Mise en forme des éléments du corps : ------------------------------------------------------------*/

body main div {
    display: flex;
    /* Utilisation de Flexbox pour disposer les éléments */
    justify-content: space-around;
    /* Espacement uniforme entre les éléments */
    font-family: 'Poppins', 'serif';
    /* Police personnalisée */
    align-items: center;
    /* Alignement vertical des éléments au centre */
}

/* Colorisation des spans dans les titres et les paragraphes : -----------------------------------------*/

body header h1 span {
    color: rgba(184, 134, 11);
    /* Couleur dorée pour les éléments span dans les titres */
    font-family: "Permanent Marker", cursive;

}

body header div a span {
    color: rgba(184, 134, 11);
    /* Couleur dorée pour les éléments span dans les liens */
}

main section section p span {
    color: rgba(184, 134, 11);
    /* Couleur dorée pour les éléments span dans les paragraphes */
}

#body_guide {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.568), rgb(0, 0, 0)),
        /* Ajoute un dégradé noir transparent sur l'image */
        url('images/header9.jpg');

    background-position: center;
    /* Positionne l'image au centre */
    background-attachment: fixed;
    /* Rend l'image fixe */
}

#body_section_h1 {
    padding-left: 2%;
}

#body_acc {
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.568), rgb(0, 0, 0)),
        /* Ajoute un dégradé noir transparent sur l'image */
        url('images/header8.jpg');

    background-position: center;
    /* Positionne l'image au centre */
    background-attachment: fixed;
    /* Rend l'image fixe */
}

#body_a_propos {


    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.486), rgb(0, 0, 0)),
        /* Ajoute un dégradé noir transparent sur l'image */
        url('images/header.jpg');

    background-position: center;
    /* Positionne l'image au centre */
    background-attachment: fixed;
    /* Rend l'image fixe */

}

/* Styles pour les petits écrans (mobiles) : ------------------------------------------------------------*/
/* Pour les écrans larges (ordinateurs de bureau ou tablettes) */


@media (max-width: 426px) {
    #section_base_acc {
        height: 100%;
        /*la section prend 80% de la hauteur totale*/
        padding-top: 1%;
        /*espace entre la section et le haut de la page*/
        padding-left: 1%;
        /*espace entre la section et la gauche de la page*/
        padding-right: 1%;
        /*espace entre la section et la droite de la page*/
    }

    #section_base {
        height: 50%;
        /*la section prend 60% de la hauteur totale*/
        padding-top: 1%;
        /*espace entre la section et le haut de la page*/
        padding-left: 1%;
        /*espace entre la section et la gauche de la page*/
        padding-right: 1%;
        /*espace entre la section et la droite de la page*/

    }

    #main_p {
      
        /*augmente la hauteur de ligne pour améliorer la lisibilité */
        font-size: 20px;
    }




    
}

@media (max-width: 768px) {
    #nav {
        display: flex;
        flex-direction: column;
        /*element de navigation en column*/
        text-align: center;
        /*texte aligné au centre*/
        align-items: center;
        /*element de navigation eu centre*/
        font-size: 20px;
        gap: 20px;
        /*espace entre les liens des pages et les nav*/
    }

    #lien_site {
        gap: 20px;
        /*espace entre les liens des pages*/

    }

    #header_image_acceuil {
        justify-content: center;
        /*place le titre de la page au centre*/
        height: 600px;
        /*espace entre le top et le texte*/
    }

    #header_image_guide{
        justify-content: center;
        /*place le titre de la page au centre*/
        height: 600px;
        /*espace entre le top et le texte*/
    }

    #body_header_h1 {
        font-size: 40px;
        /*taille de la police du titre a 40 px*/
    }

    #section_base_acc {
        height: 50%;
        /*la section prend 80% de la hauteur totale*/
        padding-top: 1%;
        /*espace entre la section et le haut de la page*/
        padding-left: 1%;
        /*espace entre la section et la gauche de la page*/
        padding-right: 1%;
        /*espace entre la section et la droite de la page*/
    }

    #section_base {
        height: 50%;
        /*la section prend 60% de la hauteur totale*/
        padding-top: 1%;
        /*espace entre la section et le haut de la page*/
        padding-left: 1%;
        /*espace entre la section et la gauche de la page*/
        padding-right: 1%;
        /*espace entre la section et la droite de la page*/

    }

    #section_base_a_propos {
        height: 100%;
        /*la section prend 100% de la hauteur totale*/
    }

    #section_vidéo iframe {
        width: 90%;
        /* Chaque vidéo occupe toute la largeur de l'écran */
        height: 100px;
        /* Hauteur fixe pour chaque vidéo */
        max-width: 800px;
        /* Limite la largeur maximale de la vidéo */
    }

    #main_section_1 {
        width: 100%;
    }

    #main_section_2 {
        width: 100%;
        /*la section prend 100% de la hauteur totale*/
    }

  
    #main_div0_av_img {
        display: none;
        /*ne pas afficher l'image */
    }

    #main_p {
        line-height: 120%;
        /*augmente la hauteur de ligne pour améliorer la lisibilité */
    }
    #title_combat {
        font-size: 20px;
        /*taille des titres a 20px*/
    }

}









@media (max-width: 1024px) {




}




@media (min-width: 1024px) {
    #main_div0_av_img {
        display: flex;
        /* Utilisation de Flexbox pour la disposition des images */
        background-repeat: no-repeat;
        /* Empêche la répétition de l'image d'arrière-plan */
        height: 95%;
        /* Hauteur de l'image fixée à 80% */
        width: 100%;
        /* Largeur de l'image fixée à 90% */
        padding-top: 10%;
        /* Marge de 0% en haut */
    }

}