* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
a:visited {
    color: white;
}
header {
    font-family: Comfortaa;
    /*background-color: grey;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;    
}

#nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex: 2;
    padding-top: 1%;
    padding-bottom: 1%;
    background: rgba(0, 0, 0, 0.459);
    font-size: 25px;
    margin-left: 0;

    
}

#social {
    display: flex;
    gap: 40px;
    flex: 1;
    /*background: green;*/
    justify-content: right;
    color: green;
    padding-right: 5%;


}

#lien_site {
    display: flex;
    gap: 80px;
    flex: 1;
    /*background: green;*/
    color: green;
    padding-left: 5%;
}

#header_image  {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/header8.jpg);
    background-repeat: no-repeat;
    
}

body header h1 {
    /*background: red;*/
    display: flex;
    padding: 350px;
    text-align: center;
    font-size: 80px;
}



body main h1 {
    background: yellow;
    justify-content: flex-start;
    margin: 20px;
}

